*.pyc
*.pyo
nohup.out
/.cache
/log
/instance
/.idea
.python-version
test.py
*.fbx
*.FBX
*.json
sample_files/*
samples
te.txt
te.py
tmp.py
animation.py
anim.js

build
dist
fbx2pc.egg-info

============
OS generated
============
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
