{% extends "bootstrap/base.html" %}
{% block title %}火舞青春{% endblock %}

{% block body %}


<div class="container">
  <div class="jumbotron">
    <h1>我的火舞青春</h1>
  </div>
</div>

<table class="table table-bordered table-hover" style="width:800px">
<tr class="success">
    <td>1</td>
    <td>TB - Monthly</td>
    <td>01/04/2012</td>
    <td>Approved</td>
  </tr>

    <tr class="success">
    <td>1</td>
    <td>TB - Monthly</td>
    <td>01/04/2012</td>
    <td>Approved</td>
  </tr>

    <tr class="success">
    <td>1</td>
    <td>TB - Monthly</td>
    <td>01/04/2012</td>
    <td>Approved</td>
  </tr>
</table>

{% endblock %}


