{% extends "bootstrap/base.html" %}
{% block title %}火舞青春{% endblock %}

{% block head %}
{{super()}}
<script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
<script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>
<script type="text/javascript">
      function initTable() {
        //先销毁表格
        $('#table').bootstrapTable('destroy');
        //初始化表格,动态从服务器加载数据
        $("#table").bootstrapTable({
            method: "get",
            url: "http://localhost:5008/data", //获取数据的Servlet地址
            striped: true,  //表格显示条纹
            pagination: true, //启动分页
            pageSize: 10,  //每页显示的记录数
            pageNumber:1, //当前第几页
            pageList: [10],  //记录数可选列表
            sidePagination: "server", //表示服务端请求
            queryParamsType : "limit",
            queryParams: function queryParams(params) {   //设置查询参数
            console.log(params);
              var param = {
                  limit: params.limit,
                  offset: params.offset,
              };
              return param;
            }
          });
      }

      $(document).ready(function () {
          initTable();
      });
</script>

{% endblock %}


{% block body %}


<div class="container">
    <div class="jumbotron">
        <h1>我的火舞青春</h1>
    </div>
</div>

<table id='table' align="center">
<thead>
 <tr>
 <th data-field="clan">我们</th>
 <th data-field="opponent">对手</th>
 <th data-field="rv">结果</th>
 <th data-field="time">时间</th>
 </tr>
 </thead>
</table>

{% endblock %}


